<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Home page">
      <meta name="theme-color" content="#333">
      <link rel="stylesheet" href="/assets/default.css">
      <link rel="stylesheet" href="/assets/markdown.css">
      <link rel="stylesheet" href="/assets/bootstrap-icons.css">
      <link rel="manifest" href="/assets/manifest.json">
      <title>Welcome</title>
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <meta name='description' content='Home page' />
      <meta name='theme-color' content='#333' />
      <meta name='title' content='Welcome' />
   <script src='/mnt/b/Repositorios/reactful/prototype/builds/shared.js'></script>
      <script type='module' src='/mnt/b/Repositorios/reactful/prototype/builds/bundle.js'></script></head>
   <body>
      <div id='root'>
         <h1 style="color:wheat" tag="Header" uid="2" class="Header" own="Header">
            <h1 style="color:wheat">Counter</h1>
         </h1>
         <jsx complex="{&quot;person&quot;:{&quot;name&quot;:&quot;john&quot;}}" tag="CountButton"
            uid="2" own="default" src="/mnt/b/Repositorios/reactful/prototype/routes/counter"
            hidden class="default"
            events="{&quot;onEvent&quot;:&quot;() =&gt; console.log(\&quot;function props works!\&quot;)&quot;}">
            <button style="padding:20px">COUNTED: <b>0</b>
            </button>
            <hr />tuple: <code>
            </code>
            <br />event: <code>fails...</code>
         </jsx>
         <h6 tag="h6" uid="2" class="default" hidden>DONT SHOW ME!</h6>
      </div>
   </body>
</html>