@import url(../@assets/css/index.css);

#step-1 {
   margin-top: -15px;
}

h5 {
   z-index: 1;
   font-family: var(--menu-font);
   font-weight: normal !important;
   background: #222;
   border-radius: 5px;
   border: dotted 2px #555;
   display: block;
   text-align: center;
   color: silver;
   padding: 5px 10px;
   margin: 0 0 0 auto;
   margin-top: 20px;
   margin-right: 10px;
   margin-bottom: -37px;
   /* margin-left: 65%; */
   width: 150px;
}

pre:first-of-type {
   margin-top: -15px;
}