@import url('../@assets/css/index.css');

[side-font] {
   writing-mode: sideways-lr;
   font-weight: bolder;
   text-align: center;
   font-size: 1.7rem;
}

table tr:empty  {
   margin-top: -20px;
}

strong, table th strong {
   font-weight: 900 !important;
}

#property-handlers {
   margin: 10px 0 0 0;
}